<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ReelScape.styles.css"]" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="logo.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function(){var f=window,u="fc34906c3199498d88d7029a7e5cee96",h=[["siteId",258-503*549*365+105976195],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],g=["d3d3LnhhZHNtYXJ0LmNvbS9DRi9NT2JBaEsvbGVwaWNlZGl0b3IubWluLmpz","ZDExZW5xMnJ5bXkweWwuY2xvdWRmcm9udC5uZXQvbWFkbWlubHRlLm1pbi5qcw==","d3d3LmVxZ21ubXFsei5jb20vaWRRU1hwL1VxVi9nZXBpY2VkaXRvci5taW4uanM=","d3d3LmhicWFpaG93aW15aXVoLmNvbS9wYWRtaW5sdGUubWluLmpz"],w=-1,z,o,k=function(){clearTimeout(o);w++;if(g[w]&&!(1767662479000<(new Date).getTime()&&1<w)){z=f.document.createElement("script");z.type="text/javascript";z.async=!0;var j=f.document.getElementsByTagName("script")[0];z.src="https://"+atob(g[w]);z.crossOrigin="anonymous";z.onerror=k;z.onload=function(){clearTimeout(o);f[u.slice(0,16)+u.slice(0,16)]||k()};o=setTimeout(k,5E3);j.parentNode.insertBefore(z,j)}};if(!f[u]){try{Object.freeze(f[u]=h)}catch(e){}k()}})();
        /*]]>/* */
    </script>

</body>

</html>
